<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos guardados</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="navbar">
    <div class="navbar-content">
        <a href="/" class="boton-volver">Volver al inicio</a>
    </div>
</header>

<main class="contenido">
    <h2>Productos guardados</h2>

    {{#productos}}
        <div class="producto-card">
            {{#imageUrl}}
                <img src="{{imageUrl}}" alt="{{name}}" class="producto-img">
            {{/imageUrl}}
            <h3>{{name}}</h3>
            <p class="precio">{{price}} €</p>
            <p>Supermercado: {{supermarket}}</p>
            {{#unitSize}}
                <p>Tamaño: {{unitSize}}</p>
            {{/unitSize}}
        </div>
    {{/productos}}


    {{^productos}}
        <p class="mensaje-vacio">No hay productos guardados aún.</p>
    {{/productos}}

</main>
</body>
</html>
