<h2>Productos filtrados por '{{category}}' en {{market}}</h2>

<div class="tarjetas">
    {{#productos}}
        <div class="tarjeta">
            <p><strong>{{name}}</strong></p>
            <p>Precio: {{price}} €</p>
            <form action="/guardar" method="post">
                <input type="hidden" name="name" value="{{name}}">
                <input type="hidden" name="price" value="{{price}}">
                <button type="submit">Guardar</button>
            </form>
        </div>
    {{/productos}}
</div>

<a href="/">Volver</a> |
